button {
    border: none;
    box-sizing: border-box;
    padding: 5px 10px;
    background-color: blue;
    font-size: 0.7rem;
    color: var(--color-white-1);
    border-radius: 3px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

.container__departmentCompany button {
    width: 90%;
    margin: 0 auto;
}

.container__editDepartment button {
    width: 20%;
    padding: 5px;
    margin: 10px 0 20px 0;
    text-align: center;
}